/workshops/unit1/WSO3operators/BasicOperations/nbproject/private/
/workshops/unit1/WSO3operators/BasicOperations/build/
/assignments/homework1/nbproject/private/
/assignments/homework1/build/
/assignments/HWPrimitiveData/build/
/assignments/HWPrimitiveData/nbproject/private/
/assignments/HWprimitiveData/nbproject/private/
/assignments/HWprimitiveData/build/
/workshops/unit1/WS04logicalOperators/nbproject/private/
/workshops/unit1/WS04logicalOperators/build/
/workshops/unit1/WS05Iteartions/nbproject/private/
/workshops/unit1/WS05Iteartions/build/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/assignments/unit 1/HW02Iterations/nbproject/private/
/assignments/unit 1/HW02Iterations/build/
/assignments/unit 1/HW03Iterations/build/
/assignments/unit 1/HW03Iterations/nbproject/private/
/assignments/unit 1/HW03Iteration/nbproject/private/
/assignments/unit 1/HW03Iteration/build/
/workshops/WS07Menus/nbproject/private/
/workshops/WS07Menus/build/
/assignments/unit 1/HW04Menus/nbproject/private/
/assignments/unit 1/HW04Menus/build/
/Exam/AcostaDomenicaExamUnit1/nbproject/private/
/Exam/AcostaDomenicaExamUnit1/build/
/ProjectGroup1/nbproject/private/
/ProjectGroup1/build/
/proyecto/nbproject/private/
/proyecto/build/
/projectGroup1/nbproject/private/
/projectGroup1/build/
/Exam01Solution/nbproject/private/
/Exam01Solution/build/
/workshops/unit2/WS08exam01Solution/nbproject/private/
/workshops/unit2/WS08exam01Solution/build/
/workshops/unit2/WS08exam0/build/
/workshops/unit2/WS08exam0/nbproject/private/
/workshops/unit2/WS08exam01solution/nbproject/private/
/workshops/unit2/WS08exam01solution/build/
/assignments/unit 2/HW05/nbproject/private/
/assignments/unit 2/HW05/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
